bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.FootballTicketManagement/.idea
/.idea/.idea.TicketManagement/.idea
/.vs/ProjectEvaluation
/.vs/TicketManagement/config
/.vs/TicketManagement/DesignTimeBuild
/.vs/TicketManagement/FileContentIndex
/.vs/TicketManagement/v17
/.vs
